.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.button {
    cursor: pointer;
    margin: 50px;
    width: 100px;
    padding: 10px;
    color: #fff;
    text-align: center;
    border: 1px solid hsl(0, 0%, 0%);
    text-shadow: 1px 1px 0px hsl(0, 0%, 12%);

    -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    box-shadow: inset 0px 1px 0px hsl(0, 0%, 40%), inset 0px -10px 20px hsl(0, 0%, 22%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    background: hsl(0, 0%, 27%);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.button:hover {
    -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    box-shadow: inset 0px 1px 0px hsl(0, 0%, 53%), inset 0px -10px 20px hsl(0, 0%, 35%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    background: hsl(0, 0%, 40%);
}

.button:active {
    -webkit-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    -moz-box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    box-shadow: inset 0px 1px 0px hsl(0, 0%, 30%), inset 0px -10px 20px hsl(0, 0%, 19%), 0px 2px 10px hsla(0, 0%, 0%, 0.4);
    background: hsl(0, 0%, 25%);
}
div { margin: 20px; }
.styled-select {
   background: url(http://www.ericrasch.com/media/icon-selectbox.png) no-repeat 96% 0;
   height: 29px;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.styled-select.slate {
   background: url(http://www.ericrasch.com/media/down_arrow_select.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}
